@model CourseWork.Models.Product

@{
    ViewData["Title"] = "Create";
}


<div style="padding-top:100px;">
    <form method="post">
        <h3>Add product</h3>
        <p>
            <label style="padding-left: 100px;">Name</label><br />
            <input class="form-control" type="text" name="product.Name" required/>
        </p>
        <p>
            <label style="padding-left: 100px;">Description</label><br />
            <input class="form-control" type="text" name="product.Description" required/>
        </p>
        <p>
            <div style="padding-bottom:15px; padding-left:170px;">
            <input class="btn btn-warning" style="margin:auto" type="submit" value="Add">
                </div>
        </p>
    </form>
    </div>
