@model IEnumerable<CourseWork.Models.Product>
@{
    //ViewData["Title"] = "Список смартфонов";
}

<!DOCTYPE html>

<html>
<head>
    <title>Warehouse</title>
</head>
<body>
 
    <div style="padding:25px 25px 25px 25px;">
        <a class="btn btn-warning" role="button" href="~/Products/Create">Add new</a>
    </div>
    <table>
        <tr>
            <th>Product name</th>
            <th>Description</th>
        </tr>
        @foreach (var product in Model)
        {
    <tr>
        <td>@product.Name</td>
        <td>@product.Description</td>
        <td>
            <div style="padding:25px 25px 25px 25px;">
                <form method="get" action="~/Products/Delete">
                    <input type="hidden" name="productId" value="@product.ProductId" />
                    <input class="btn btn-warning" style="margin:auto" type="submit" value="Delete" />
                </form>
            </div>
        </td>
        <td>
            <div style="padding:25px 25px 25px 25px;">
                <form method="get" action="~/Products/Update">
                    <input type="hidden" name="productId" value="@product.ProductId" />
                    <input class="btn btn-warning" style="margin:auto" type="submit" value="Update" />
                </form>
            </div>
        </td>
    </tr>
        }
    </table>

</body>
</html>
