@model IEnumerable<CourseWork.Models.Product>
@{
    //ViewData["Title"] = "Список смартфонов";
}

<!DOCTYPE html>

<html>
<head>
    <title>Warehouse</title>
</head>
<body>
 
    <div style="padding:25px 25px 25px 25px;">
        <a class="btn btn-warning" role="button" href="~/Products/Create">Add new</a>
    </div>
    <table>
        <tr>
            <th>Product name</th>
            <th>Description</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                @*<td><a href="~/Home/Buy/@phone.Id">Купить</a></td>*@
            </tr>
        }
    </table>

</body>
</html>
