@model CourseWork.Models.OrderProduct

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldPrice" class="control-label"></label>
                <input asp-for="OldPrice" class="form-control" />
                <span asp-validation-for="OldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPrice" class="control-label"></label>
                <input asp-for="NewPrice" class="form-control" />
                <span asp-validation-for="NewPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldSum" class="control-label"></label>
                <input asp-for="OldSum" class="form-control" />
                <span asp-validation-for="OldSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewSum" class="control-label"></label>
                <input asp-for="NewSum" class="form-control" />
                <span asp-validation-for="NewSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WriteOffSum" class="control-label"></label>
                <input asp-for="WriteOffSum" class="form-control" />
                <span asp-validation-for="WriteOffSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

