<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <style>
        body {
            /*background-image: url(https://i.pinimg.com/236x/5f/6b/90/5f6b901b907a2dc694bbe87effdbcdf3.jpg);*/
            background-image: url(https://www.freeimageslive.co.uk/image/view/11913/_original);
            background-attachment: fixed;
            background-size: cover;
        }

        .menu-main {
            margin: auto;
            margin-top: 0;
            list-style: none;
            padding-left: 0;
            font-size: 18px;
            text-align: center;
            position: relative;
            background-color: #333334;
            opacity: 0.8;
            width: 100%;
        }

            .menu-main li {
                display: inline-block;
            }

        .menu-main a {
            text-decoration: none;
            display: inline-block;
            margin: 0 15px;
            padding: 10px 30px;
            font-family: 'PT Sans Caption', sans-serif;
            color: #EEF4D5;
            transition: .3s linear;
            position: relative;
        }

                .menu-main a:before,
                .menu-main a:after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 3px);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #ECA815;
                    opacity: 0;
                    transition: .5s ease-in-out;
                }

                .menu-main a:before {
                    left: 5px;
                }

                .menu-main a:after {
                    right: 5px;
                }

                .menu-main a.current:before,
                .menu-main a.current:after,
                .menu-main a:hover:before,
                .menu-main a:hover:after {
                    opacity: 1;
                }

                .menu-main a.current,
                .menu-main a:hover {
                    color: #ECA815;
                }
    </style>
</head>
<body>
        <ul class="menu-main">
            <li>@Html.ActionLink("Catalog", "", "")</li>
            <li>@Html.ActionLink("Orders", "", "")</li>
        </ul>
        @RenderBody()
    <br>
</body>
</html>
