
@{
    ViewData["Title"] = "ChooseFile";
}
<!DOCTYPE html>

<html>
<head>
    <title>Warehouse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="form-check" style="padding-top: 60px;">
        <form method="get" action="~/Orders/File" style="padding-top: 25px; padding-left: 155px;" >
            @foreach (var file in ViewBag.Files)
            {
                <p>
                        <input class="form-check-input" type="radio" name="fileName" id="exampleRadios1" value="@file">
                        <label class="form-check-label" for="exampleRadios1">
                            @file
                        </label>
                    @*<label class="container">
                        @file
                        <input style="padding-left: 15px" type="checkbox" value="@file" name="fileName">
                        <span class="checkmark"></span>
                    </label>*@
                </p>

            }
            <p>
                <div style="padding-bottom:15px; padding-left:15px;">
                    <input class="btn btn-warning" style="margin:auto" type="submit" value="Open">
                </div>
            </p>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>