@model CourseWork.Models.Order

@{
    ViewData["Title"] = "Choose ";
}

<!DOCTYPE html>

<html>
<head>
    <title>Warehouse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="form-check" style="padding-top: 60px;">
        <form method="get" action="~/Orders/Random" style="padding-top: 25px;">
            <p>
                <label style="padding-left: 115px;">Amount of products</label><br />
                <input class="form-control" type="number" name="Amount" value="Amount" required>

            </p>
            <p>
                <label style="padding-left: 90px;">Left margin of write-off sum</label><br />
                <input class="form-control" type="number" name="LeftSum" value="LeftSum" required>

            </p>
            <p>
                <label style="padding-left: 85px;">Right margin of write-off sum</label><br />
                <input class="form-control" type="number" name="RightSum" value="RightSum" required>

            </p>
            <p>
                <label style="padding-left: 65px;">Left margin of amount of product</label><br />
                <input class="form-control" type="number" name="LeftAmount" value="LeftAmount" required>

            </p>
            <p>
                <label style="padding-left: 60px;">Right margin of amount of product</label><br />
                <input class="form-control" type="number" name="RightAmount" value="RightAmount" required>

            </p>
            <p>
                <div style="padding-bottom:15px; padding-left:165px;">
                    <input class="btn btn-warning" style="margin:auto" type="submit" value="Open">
                </div>
            </p>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>