@model CourseWork.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<div style="padding:25px 25px 25px 25px;">
    <a class="btn btn-warning" role="button" href="~/Orders/GetAll">Back</a>
</div>
<div style="padding-top:75px;">
    <form method="get" action="~/Orders/Change">
        <h3>Update order</h3>
        <input class="form-control" type="hidden" name="orderId" value="@Model.OrderId" required />
        <p>
            <label style="padding-left: 100px;">Name</label><br />
            <input class="form-control" type="text" name="customer" value="@Model.Customer" required />
        </p>
        <p>
            <label style="padding-left: 100px;">Description</label><br />
            <input class="form-control" type="text" name="phone" value="@Model.PhoneNumber" required />
        </p>
        <p>
            <div style="padding-bottom:15px; padding-left:170px;">
                <input class="btn btn-warning" style="margin:auto" type="submit" value="Update">
            </div>
        </p>
    </form>
</div>